In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (0.25.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.12)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.12.0)

In [0]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

In [0]:
import sqlite3

In [0]:
import pandasql as ps

In [0]:
import descartes
import geopandas as gpd
from shapely.geometry import point , polygon

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from sklearn.model_selection import GridSearchCV, train_test_split
from xgboost import XGBRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

from sklearn.metrics import accuracy_score

In [0]:
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
from scipy.stats import skew
from collections import OrderedDict

In [0]:
import keras
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor

Using TensorFlow backend.

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
from sklearn.model_selection import GridSearchCV, train_test_split
from xgboost import XGBRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.cluster import KMeans

In [0]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt
%matplotlib inline

In [0]:
import math
from scipy import stats

In [0]:
train = pd.read_csv('/content/drive/My Drive/Dataset (1)/Train.csv')

In [0]:
test = pd.read_csv('/content/drive/My Drive/Dataset (1)/Test.csv')

In [0]:
train.head()

      id    realtionship_status  ... money_back_guarantee netgain
0  19717  Married-spouse-absent  ...                   No   False
1  31593     Married-civ-spouse  ...                   No   False
2   5681               Divorced  ...                  Yes   False
3  15491              Separated  ...                   No   False
4  23587     Married-civ-spouse  ...                   No    True

[5 rows x 12 columns]

In [0]:
test.head()

   id realtionship_status  ... expensive money_back_guarantee
0   1             Widowed  ...       Low                   No
1   4  Married-civ-spouse  ...      High                  Yes
2   5            Divorced  ...       Low                   No
3   9  Married-civ-spouse  ...       Low                   No
4  10  Married-civ-spouse  ...       Low                  Yes

[5 rows x 11 columns]

In [0]:
train['industry'].value_counts()

Pharma           10339
Auto              6801
Political         4014
Entertainment     2765
Other             1333
ClassAction        796
Name: industry, dtype: int64

In [0]:
for i in list(set(train.columns) - set(['id','ratings','average_runtime(minutes_per_week)'])) :
  print (i) 
  print(np.round(train[i].value_counts() /train[i].count() ,2))
  print('----------------------------')

money_back_guarantee
Yes    0.5
No     0.5
Name: money_back_guarantee, dtype: float64
----------------------------
airtime
Primetime    0.60
Morning      0.33
Daytime      0.07
Name: airtime, dtype: float64
----------------------------
realtionship_status
Married-civ-spouse       0.45
Never-married            0.33
Divorced                 0.14
Widowed                  0.03
Separated                0.03
Married-spouse-absent    0.01
Married-AF-spouse        0.00
Name: realtionship_status, dtype: float64
----------------------------
genre
Comedy         0.85
Infomercial    0.10
Drama          0.03
Direct         0.01
Other          0.01
Name: genre, dtype: float64
----------------------------
airlocation
United-States                 0.89
Mexico                        0.02
International                 0.02
Philippines                   0.01
Germany                       0.00
Canada                        0.00
Cuba                          0.00
Puerto-Rico                   0.00
El-Salvador                   0.00
India                         0.00
England                       0.00
Italy                         0.00
South                         0.00
Poland                        0.00
Jamaica                       0.00
Dominican-Republic            0.00
Guatemala                     0.00
Vietnam                       0.00
Columbia                      0.00
Japan                         0.00
China                         0.00
Taiwan                        0.00
Iran                          0.00
Haiti                         0.00
Ecuador                       0.00
Portugal                      0.00
Nicaragua                     0.00
Peru                          0.00
France                        0.00
Yugoslavia                    0.00
Ireland                       0.00
Laos                          0.00
Trinadad&Tobago               0.00
Cambodia                      0.00
Greece                        0.00
Honduras                      0.00
Hong                          0.00
Thailand                      0.00
Scotland                      0.00
Outlying-US(Guam-USVI-etc)    0.00
Hungary                       0.00
Holand-Netherlands            0.00
Name: airlocation, dtype: float64
----------------------------
industry
Pharma           0.40
Auto             0.26
Political        0.15
Entertainment    0.11
Other            0.05
ClassAction      0.03
Name: industry, dtype: float64
----------------------------
expensive
Low       0.60
High      0.28
Medium    0.12
Name: expensive, dtype: float64
----------------------------
targeted_sex
Male      0.66
Female    0.34
Name: targeted_sex, dtype: float64
----------------------------
netgain
False    0.76
True     0.24
Name: netgain, dtype: float64
----------------------------

In [0]:
train.loc[:,['average_runtime(minutes_per_week)','ratings']].describe()

       average_runtime(minutes_per_week)       ratings
count                       26048.000000  26048.000000
mean                           40.294111      0.038716
std                            12.479457      0.075852
min                             1.000000      0.000000
25%                            40.000000      0.027465
50%                            40.000000      0.027465
75%                            45.000000      0.027465
max                            99.000000      1.000000

In [0]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 12 columns):
id                                   26048 non-null int64
realtionship_status                  26048 non-null object
industry                             26048 non-null object
genre                                26048 non-null object
targeted_sex                         26048 non-null object
average_runtime(minutes_per_week)    26048 non-null int64
airtime                              26048 non-null object
airlocation                          26048 non-null object
ratings                              26048 non-null float64
expensive                            26048 non-null object
money_back_guarantee                 26048 non-null object
netgain                              26048 non-null bool
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 2.2+ MB

In [0]:
train_1=pd.get_dummies(train , columns=['realtionship_status','industry','genre','targeted_sex','airtime','expensive','money_back_guarantee'])

In [0]:
train_1['loc_us']=np.where(train_1['airlocation']=='United-States',1,0)

In [0]:
train_1.head()

      id  average_runtime(minutes_per_week)  ... money_back_guarantee_Yes  loc_us
0  19717                                 45  ...                        0       1
1  31593                                 45  ...                        0       1
2   5681                                 45  ...                        1       1
3  15491                                 40  ...                        0       1
4  23587                                 48  ...                        0       1

[5 rows x 34 columns]

In [0]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 34 columns):
id                                           26048 non-null int64
average_runtime(minutes_per_week)            26048 non-null int64
airlocation                                  26048 non-null object
ratings                                      26048 non-null float64
netgain                                      26048 non-null bool
realtionship_status_Divorced                 26048 non-null uint8
realtionship_status_Married-AF-spouse        26048 non-null uint8
realtionship_status_Married-civ-spouse       26048 non-null uint8
realtionship_status_Married-spouse-absent    26048 non-null uint8
realtionship_status_Never-married            26048 non-null uint8
realtionship_status_Separated                26048 non-null uint8
realtionship_status_Widowed                  26048 non-null uint8
industry_Auto                                26048 non-null uint8
industry_ClassAction                         26048 non-null uint8
industry_Entertainment                       26048 non-null uint8
industry_Other                               26048 non-null uint8
industry_Pharma                              26048 non-null uint8
industry_Political                           26048 non-null uint8
genre_Comedy                                 26048 non-null uint8
genre_Direct                                 26048 non-null uint8
genre_Drama                                  26048 non-null uint8
genre_Infomercial                            26048 non-null uint8
genre_Other                                  26048 non-null uint8
targeted_sex_Female                          26048 non-null uint8
targeted_sex_Male                            26048 non-null uint8
airtime_Daytime                              26048 non-null uint8
airtime_Morning                              26048 non-null uint8
airtime_Primetime                            26048 non-null uint8
expensive_High                               26048 non-null uint8
expensive_Low                                26048 non-null uint8
expensive_Medium                             26048 non-null uint8
money_back_guarantee_No                      26048 non-null uint8
money_back_guarantee_Yes                     26048 non-null uint8
loc_us                                       26048 non-null int64
dtypes: bool(1), float64(1), int64(3), object(1), uint8(28)
memory usage: 1.7+ MB

In [0]:
train_1.drop(columns=['airlocation'],inplace=True)

In [0]:
x_train=train_1.drop(columns=['netgain'])

In [0]:
y_train=np.where(train_1['netgain']==True , 1 ,0)

In [0]:
pd.Series(y_train).value_counts()

0    19853
1     6195
dtype: int64

In [0]:
# Organize our data for training
X = x_train
Y = y_train
X, X_Val, Y, Y_Val = train_test_split(X, Y , train_size =0.7 , shuffle=True)

In [0]:
import keras
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

from keras.wrappers.scikit_learn import KerasRegressor



# Model
model = Sequential()
model.add(Dense(512, input_dim=32, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(128,  activation='relu'))
model.add(Dense(64,  activation='relu'))
model.add(Dense(16,  activation='relu'))
model.add(Dense(1,  activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam' , metrics=['accuracy'])


model.fit(np.array(X), np.array(Y), epochs=10, batch_size=10)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

18233/18233 [==============================] - 10s 523us/step - loss: 4.1642 - acc: 0.7412
Epoch 2/10
18233/18233 [==============================] - 9s 478us/step - loss: 4.9075 - acc: 0.6943
Epoch 3/10
18233/18233 [==============================] - 9s 481us/step - loss: 3.8498 - acc: 0.7611
Epoch 4/10
18233/18233 [==============================] - 9s 490us/step - loss: 3.8498 - acc: 0.7611
Epoch 5/10
18233/18233 [==============================] - 9s 491us/step - loss: 3.8498 - acc: 0.7611
Epoch 6/10
18233/18233 [==============================] - 9s 486us/step - loss: 3.8498 - acc: 0.7611
Epoch 7/10
18233/18233 [==============================] - 9s 477us/step - loss: 3.8498 - acc: 0.7611
Epoch 8/10
18233/18233 [==============================] - 9s 497us/step - loss: 3.8498 - acc: 0.7611
Epoch 9/10
18233/18233 [==============================] - 9s 482us/step - loss: 3.8498 - acc: 0.7611
Epoch 10/10
18233/18233 [==============================] - 9s 487us/step - loss: 3.8498 - acc: 0.7611

In [0]:
Y_Val

array([1, 1, 1, ..., 0, 0, 0])

In [0]:
pred_3 = model.predict(np.array(X_Val))

In [0]:
pred_3= pred_3.reshape(-1)

In [0]:
pd.Series(pred_3).value_counts()

0.000000    7813
0.000064       1
0.000404       1
dtype: int64

In [0]:
pred_3=np.where(pred_3>0,1,0)

In [0]:
pd.Series(pred_3).value_counts()

0    7813
1       2
dtype: int64

In [0]:
pred_3

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
pd.Series(Y).value_counts()

0    13878
1     4355
dtype: int64

In [0]:

# Print the mse score
print(accuracy_score(Y_Val,pred_3))

0.7645553422904671

In [0]:
pd.Series(Y_Val).value_counts()

0    5975
1    1840
dtype: int64

In [0]:
pd.Series(pred_3.reshape(-1)).value_counts()

0    7813
1       2
dtype: int64

In [0]:
pd.Series(Y).value_counts()

0    13878
1     4355
dtype: int64

In [0]:
test_1=pd.get_dummies(test , columns=['realtionship_status','industry','genre','targeted_sex','airtime','expensive','money_back_guarantee'])

In [0]:
test_1['loc_us']=np.where(test_1['airlocation']=='United-States',1,0)

In [0]:
test_1.head()

   id  average_runtime(minutes_per_week)  ... money_back_guarantee_Yes  loc_us
0   1                                 10  ...                        0       1
1   4                                 40  ...                        1       1
2   5                                 50  ...                        0       1
3   9                                 40  ...                        0       1
4  10                                 40  ...                        1       1

[5 rows x 33 columns]

In [0]:
test_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6513 entries, 0 to 6512
Data columns (total 33 columns):
id                                           6513 non-null int64
average_runtime(minutes_per_week)            6513 non-null int64
airlocation                                  6513 non-null object
ratings                                      6513 non-null float64
realtionship_status_Divorced                 6513 non-null uint8
realtionship_status_Married-AF-spouse        6513 non-null uint8
realtionship_status_Married-civ-spouse       6513 non-null uint8
realtionship_status_Married-spouse-absent    6513 non-null uint8
realtionship_status_Never-married            6513 non-null uint8
realtionship_status_Separated                6513 non-null uint8
realtionship_status_Widowed                  6513 non-null uint8
industry_Auto                                6513 non-null uint8
industry_ClassAction                         6513 non-null uint8
industry_Entertainment                       6513 non-null uint8
industry_Other                               6513 non-null uint8
industry_Pharma                              6513 non-null uint8
industry_Political                           6513 non-null uint8
genre_Comedy                                 6513 non-null uint8
genre_Direct                                 6513 non-null uint8
genre_Drama                                  6513 non-null uint8
genre_Infomercial                            6513 non-null uint8
genre_Other                                  6513 non-null uint8
targeted_sex_Female                          6513 non-null uint8
targeted_sex_Male                            6513 non-null uint8
airtime_Daytime                              6513 non-null uint8
airtime_Morning                              6513 non-null uint8
airtime_Primetime                            6513 non-null uint8
expensive_High                               6513 non-null uint8
expensive_Low                                6513 non-null uint8
expensive_Medium                             6513 non-null uint8
money_back_guarantee_No                      6513 non-null uint8
money_back_guarantee_Yes                     6513 non-null uint8
loc_us                                       6513 non-null int64
dtypes: float64(1), int64(3), object(1), uint8(28)
memory usage: 432.6+ KB

In [0]:
test_1.drop(columns=['airlocation'],inplace=True)

In [0]:
x_test=test_1

In [0]:
pred_4 = model.predict(np.array(x_test))

In [0]:
pred_4=np.where(pred_4>0,1,0)

In [0]:
pred_4

array([[1],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [0]:
pred_4=pred_4.reshape(-1)

In [0]:
pd.Series(pred_4).value_counts()

0    6511
1       2
dtype: int64

In [0]:
pred_4 = np.where(pred_4 ==1 , True , False)

In [0]:
pd.DataFrame(pred_4 , index=test_1['id'],columns=['netgain']).to_csv('submission.csv')